@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a202c;
  --background: #ffffff;
  --primary: #3b82f6;
  --secondary: #60a5fa;
  --accent: #2563eb;
}

.dark {
  --foreground: #f7fafc;
  --background: #1a202c;
  --primary: #60a5fa;
  --secondary: #3b82f6;
  --accent: #93c5fd;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.hover\:bg-secondary:hover {
  background-color: var(--secondary);
}

.hover\:text-accent:hover {
  color: var(--accent);
}

@keyframes wave {
  0% {
    background-color: #4f46e5; /* Start color */
  }
  25% {
    background-color: #3b82f6; /* Mid color */
  }
  50% {
    background-color: #9333ea; /* Mid color */
  }
  75% {
    background-color: #ec4899; /* Mid color */
  }
  100% {
    background-color: #4f46e5; /* End color */
  }
}

.animate-wave {
  animation: wave 5s infinite linear;
}
