@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 17, 24, 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gray-800 {
  background-color: rgba(31, 41, 55, 0.8);
  backdrop-filter: blur(10px);
}

.text-blue-400 {
  color: #60a5fa;
}

.hover\:text-white:hover {
  color: #ffffff;
}
